/*PARA PANTALLAS DE UN ANCHO MÁXIMO DE 425PX*/
/*
@media screen and (max-width: 425px) {

/*PARA PANTALLAS DE UN ANCHO MÁXIMO DE 425PX*/
/*
@media screen and (max-width: 768px) {

}
*/

/*PARA PANTALLAS DE UN ANCHO MÁXIMO DE 2560PX*/
@media screen and (max-width: 1920px) {
    body {
        margin: 0;
    }

    header {
        width: 80%;
        height: 20vh;
        padding: 1%;
        background-color: black;
        margin: auto;
    }

    /*###################################################################*/
    /*LOGO*/
    header>a>img {
        float: left;
        width: 10%;
        height: 100%;
    }

    .logo {
        width: 20%;
        height: 20vh;

        float: left;
    }

    .logo h1 {
        color: white;
        margin: 0;
        width: 100%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: relative;
    }

    /*###################################################################*/
    /*BARRA DE BÚSQUEDA*/
    .barraBusqueda {
        width: 40%;
        height: 5.5vh;
        display: inline-block;
        margin-top: 2%;
        margin-left: 2%;
        background-color: white;
    }

    .barraBusqueda input {
        padding: 3%;
        width: 82%;
        border: none;
    }

    .barraBusqueda i {
        padding: 3%;
        display: inline-block;
    }

    /*###################################################################*/
    /*PESTAÑAS*/
    .pestañas {
        width: 8%;
        height: 5vh;
        display: inline-block;
        margin-left: 5%;
    }

    .cuenta {
        float: left;
        width: max-content;
        text-align: center;
        margin-top: 10%;
    }

    .cuenta a {
        text-decoration: none;
        color: white;
    }

    .cuenta a p {
        margin: 0;
    }

    .carrito {
        float: left;
        text-align: center;
        width: max-content;
        margin-top: 10%;
        margin-left: 20%;
    }

    .carrito a {
        text-decoration: none;
        color: white;
    }

    .carrito a p {
        margin: 0;
    }
   
   /*###################################################################*/
    /*MENÚ*/
    .menu {
        width: 47%;
        height: 5vh;
        display: inline-block;
        border-top: 3px solid white;
        margin-top: 4%;
        margin-left: 2%;
    }

    .menu button {
        display: none;
    }

    .enlaces {
        list-style-type: none;
        padding: 0;
     }

    .enlaces a {
        color: white;
        text-decoration: none;
        margin-right: 4%;
        float: left;
    }
    
    .menu p {
        display: none;
    }
    

    /*########################################################################################################################################*/
    /*########################################################################################################################################*/
    /*########################################################################################################################################*/
    /*MAIN*/

    /*IMAGENES*/
    main {
        width: 80.5%;
        height: 100vh;
        margin: auto;
    }

    /*###################################################################*/
    /*PRIMERA FILA*/
    .primeraFila {
        width: 60%;
        height: 50%;
        margin: auto;
    }

    .primeraFila img {
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }

    /*###################################################################*/
    /*SEGUNDA FILA*/
    .segundaFila {
        width: 60%;
        height: 20%;
        margin: auto;
        margin-top: 2%;
    }

    .segundaFila img {
        margin-top: 1%;
        width: 49%;
        height: 90%;
        float: left;
    }

    .segundaFila img + img {
        margin-left: 2%;
    }

    /*###################################################################*/
    /*TERCERA FILA*/
    .terceraFila {
        width: 60%;
        height: 15%;
        margin: auto;
    }

    .terceraFila img {
        margin-top: 1%;
        width: 32%;
        float: left;
        height: 90%;
    }

    .terceraFila img + img{
        margin-left: 2%;
    }

    /*###################################################################*/
    /*RECOMENDADO*/
    .recomendado {
        width: 60%;
        height: 30%;
        margin: auto;
    }

    .recomendado h2 {
        margin: 2% 0 0 0;
        width: max-content;
    }

    .recomendado img {
        width: 32%;
        float: left;
    }

    .recomendado img + img {
        margin-left: 2%;
    }
}