body {
    margin: 0;
}

p  {
    margin: 0;
}

header {
    color: white;
    background-color: #7f1515;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo {
    margin: 0;
    flex-grow: 1;
    text-align: center; /* Centrar el texto dentro del div */
}

h1 {
    margin: 0;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    background-color: #d56b6a;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin-right: 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

aside {
    color: white;
    background-color: #d46a6a;
    width: 30%;
    height: 80vh;
    
    /*###########################*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

main {
    color: white;
    background-color: #a93a39;
    width: 70%;
    height: 80vh;

    /*###########################*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}

footer {
    color: white;
    background-color: #540000;
    width: 100%;
    height: 10vh;

    /*###########################*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}


@media screen and (max-width: 700px) {

}