body {
    background-color: grey;
}

#elemento1 {
    width: 100px;
    background-color: #122738;
    color: white;
    text-align: center;
}

#elemento2 {
    width: 100px;
    background-color: #183449;
    color: white;
    text-align: center;
}

#elemento3 {
    width: 100px;
    background-color: #214661;
    color: white;
    text-align: center;
}

#elemento4 {
    width: 100px;
    background-color: #214661;
    color: white;
    text-align: center;
}

#elemento5 {
    width: 100px;
    background-color: #34719e;
    color: white;
    text-align: center;
}

#elemento6 {
    width: 100px;
    background-color: #3f86bc;
    color: white;
    text-align: center;
}

#elemento7 {
    width: 100px;
    background-color: #4698d4;
    color: white;
    text-align: center;
}

/*######################################################################################################*/
/*Ejercicio 1*/
/*
.contenedor {
    display: flex;
    justify-content: flex-start;
    height: 100%;

}

.contenedor>div {
    height: 40px;
}
*/

/*######################################################################################################*/
/*Ejercicio 7*/
.contenedor {
    display: flex;
    flex-wrap: wrap;
}


/*######################################################################################################*/
/*Ejercicio 14*/

/*######################################################################################################*/
/*Ejercicio 17*/

/*######################################################################################################*/
/*Ejercicio 18*/

/*######################################################################################################*/
/*Ejercicio 19*/

/*######################################################################################################*/
/*Ejercicio 21*/

/*######################################################################################################*/
/*Ejercicio 24*/

/*######################################################################################################*/
/*Ejercicio 25*/

/*######################################################################################################*/
/*Ejercicio 26*/
