/*SELECTOR DE ETIQUETA*/
p {
    color: red;
}

h1 {
    background-color: gray;
}

div {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

/*#####################################################################################################*/

/*SELECTOR DE MÚLTIPLE*/
h1, h2 {
    color: blue;
}

/*#####################################################################################################*/

/*SELECTOR DE DESCENDENTE*/
ul li {
    list-style-type: square;
}

.container span {
    color: #FF0000;
}

/*#####################################################################################################*/

/*SELECTOR DE CLASE*/
.boton {
    background-color: #008000;
    color: white;
}

.error {
    color: #FF0000;
}

/*#####################################################################################################*/

/*SELECTOR DE ID*/
#header {
    background-color: #6ee868;
}

/*#####################################################################################################*/

/*SELECTOR DE HIJOS*/
div > p {
    margin: 10px;
}

/*#####################################################################################################*/

/*SELECTOR DE ADYACENTE*/
h2 + p {
    font-style: italic;
}

/*#####################################################################################################*/

/*SELECTOR DE ATRIBUTOS*/
input[type="text"] {
    border: 1px solid #999;
}