/*PARA PANTALLAS DE UN ANCHO MÁXIMO DE 425px*/
@media screen and (max-width: 425px) {
    body {
        margin: 0;
    }

    header {
        width: 100%;
        height: 50vh;
        padding: 5%;
        background-color: black;
    }

    /*###################################################################*/
    /*LOGO*/
    header>a>img {
        width: 35%;
        height: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        width: 80%;
        height: 5vh;
        text-align: center;
        margin: auto;
    }

    .logo h1 {
        color: white;
        margin: 0;
        width: 100%;
    }

    /*###################################################################*/
    /*BARRA DE BÚSQUEDA*/
    .barraBusqueda {
        width: 80%;
        height: 4.5vh;
        background-color: white;
        margin: auto;
    }

    .barraBusqueda input {
        padding: 3%;
        width: 80%;
        border: none;
    }

    .barraBusqueda i {
        padding: 3%;
    }

    /*###################################################################*/
    /*PESTAÑAS*/
    .pestañas {
        width: 30%;
        height: 6vh;
        margin: auto;
    }

    .cuenta {
        float: left;
        width: max-content;
        text-align: center;
        margin-top: 10%;
    }

    .cuenta a {
        text-decoration: none;
        color: white;
    }

    .cuenta a p {
        margin: 0;
    }

    .carrito {
        float: left;
        text-align: center;
        width: max-content;
        margin-top: 10%;
        margin-left: 20%;
    }

    .carrito a {
        text-decoration: none;
        color: white;
    }

    .carrito a p {
        margin: 0;
    }
   
   /*###################################################################*/
    /*MENÚ*/
    .menu {
        position: relative;
        display: inline-block;
    }
    
    .boton-desplegable {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    
    .enlaces {
        list-style-type: none;
        padding: 20px;
        margin: 0;
        display: none;
        position: absolute;
        background-color: #333;
        z-index: 100;
    }
    
    .enlaces li {
        padding: 10px;
        text-align: center;
    }
    
    .enlaces a {
        text-decoration: none;
        color: white;
        display: block;
    }
    
    .menu:hover .enlaces {
        display: block;
    }

    .menu p {
        color: white;
        margin-bottom: 0;
    }

    /*########################################################################################################################################*/
    /*########################################################################################################################################*/

    /*MAIN*/

    /*IMAGENES*/
    main {
        width: 95%;
        height: 95vh;
        margin: auto;
        position: relative;
    }


    /*###################################################################*/

    main img {
        border: 5px solid black;
        float: left;
        width: 35%;
        display: block;
    }

    /*PARRAFOS*/
    main h2 {
        margin-left: 5%;
        margin-top: 0;
        margin-bottom: 0;
        width: max-content;
        display: inline-block;
    }
    
    main p {
        margin-left: 5%;
        width: 50%;
        display: inline-block;
    }

    main p + p{
        display: none;
    }

    .precio {
        display: block;
        margin-left: 42%;
    }

    /*BOTÓN*/
    main button {
        position: absolute;
        bottom: 8%;
        right: 14%;
        padding: 1% 2%;
        font-weight: bold;
        border: 1px solid black;
    }

    #precioTotal {
        position: absolute;
        bottom: 1%;
        right: 7%;
    }
}

/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/

/*PARA PANTALLAS DE UN ANCHO MÍNIMO DE 425px Y UN MÁXIMO DE 768px*/
@media screen and (min-width: 425px) and (max-width: 768px) {
   body {
        margin: 0;
    }

    header {
        width: 100%;
        height: 40vh;
        padding: 1%;
        background-color: black;
        margin: auto;
    }

    /*###################################################################*/
    /*LOGO*/
    header>a>img {
        float: left;
        width: 18%;
        height: 50%;
        margin-left: 10%;
    }

    .logo {
        width: 40%;
        height: 20vh;
        display: inline-block;
    }

    .logo h1 {
        color: white;
        margin: 0;
        width: 100%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: relative;
    }

    /*###################################################################*/
    /*BARRA DE BÚSQUEDA*/
    .barraBusqueda {
        width: 60%;
        height: 5vh;
        margin-top: 4%;
        margin-left: 20%;
        background-color: white;
        float: left;
    }
    
    .barraBusqueda input {
        padding: 3%;
        width: 82%;
        border: none;
    }

    .barraBusqueda i {
        padding: 3%;
        display: inline-block;
    }

    /*###################################################################*/
    /*PESTAÑAS*/
    .pestañas {
        width: 20%;
        height: 5vh;
        display: inline-block;
        margin-left: 10%;
    }

    .cuenta {
        float: left;
        width: max-content;
        text-align: center;
        margin-top: 100%;
    }

    .cuenta a {
        text-decoration: none;
        color: white;
    }

    .cuenta a p {
        margin: 0;
    }

    .carrito {
        float: left;
        text-align: center;
        width: max-content;
        margin-top: 100%;
        margin-left: 20%;
    }

    .carrito a {
        text-decoration: none;
        color: white;
    }

    .carrito a p {
        margin: 0;
    }
   
   /*###################################################################*/
    /*MENÚ*/
    .menu {
        width: 80%;
        height: 5vh;
        display: inline-block;
        border-top: 3px solid white;
        margin-top: 4%;
        margin-left: 10%;
    }

    .menu button {
        display: none;
    }

    .enlaces {
        list-style-type: none;
        padding: 0;
     }

    .enlaces a {
        color: white;
        text-decoration: none;
        margin-right: 4%;
        float: left;
    }
    
    .menu p {
        display: none;
    }

    /*########################################################################################################################################*/
    /*########################################################################################################################################*/

    /*MAIN*/

    /*IMAGENES*/
    main {
        width: 95%;
        height: 100vh;
        margin: auto;
        position: relative;
    }


    /*###################################################################*/

    main img {
        border: 5px solid black;
        float: left;
        width: 30%;
        display: block;
    }

    /*PARRAFOS*/
    main h2 {
        margin-left: 5%;
        margin-top: 0;
        width: max-content;
        display: inline-block;
    }
    
    main p {
        margin-left: 5%;
        width: 50%;
        display: inline-block;
    }

    .precio {
        display: block;
        margin-left: 37%;
    }

    /*BOTÓN*/
    main button {
        position: absolute;
        bottom: 8%;
        right: 10%;
        padding: 1% 2%;
        font-weight: bold;
        border: 1px solid black;
    }

    #precioTotal {
        position: absolute;
        bottom: 1%;
        right: 7%;
    }
}

/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/

/*PARA PANTALLAS DE UN ANCHO MÍNIMO DE 768px Y UN MÁXIMO DE 1920px*/
@media screen and (min-width: 768px) and (max-width: 1920px) {
    body {
        margin: 0;
    }

    header {
        width: 80%;
        height: 20vh;
        padding: 1%;
        background-color: black;
        margin: auto;
    }

    /*###################################################################*/
    /*LOGO*/
    header>a>img {
        float: left;
        width: 10%;
        height: 100%;
    }

    .logo {
        width: 20%;
        height: 20vh;

        float: left;
    }

    .logo h1 {
        color: white;
        margin: 0;
        width: 100%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: relative;
    }

    /*###################################################################*/
    /*BARRA DE BÚSQUEDA*/
    .barraBusqueda {
        width: 40%;
        height: 5.5vh;
        display: inline-block;
        margin-top: 2%;
        margin-left: 2%;
        background-color: white;
    }

    .barraBusqueda input {
        padding: 3%;
        width: 82%;
        border: none;
    }

    .barraBusqueda i {
        padding: 3%;
        display: inline-block;
    }

    /*###################################################################*/
    /*PESTAÑAS*/
    .pestañas {
        width: 8%;
        height: 5vh;
        display: inline-block;
        margin-left: 5%;
    }

    .cuenta {
        float: left;
        width: max-content;
        text-align: center;
        margin-top: 10%;
    }

    .cuenta a {
        text-decoration: none;
        color: white;
    }

    .cuenta a p {
        margin: 0;
    }

    .carrito {
        float: left;
        text-align: center;
        width: max-content;
        margin-top: 10%;
        margin-left: 20%;
    }

    .carrito a {
        text-decoration: none;
        color: white;
    }

    .carrito a p {
        margin: 0;
    }
   
   /*###################################################################*/
    /*MENÚ*/
    .menu {
        width: 47%;
        height: 5vh;
        display: inline-block;
        border-top: 3px solid white;
        margin-top: 4%;
        margin-left: 2%;
    }

    .menu button {
        display: none;
    }

    .enlaces {
        list-style-type: none;
        padding: 0;
     }

    .enlaces a {
        color: white;
        text-decoration: none;
        margin-right: 4%;
        float: left;
    }
    
    .menu p {
        display: none;
    }

    /*########################################################################################################################################*/
    /*########################################################################################################################################*/

    /*MAIN*/

    /*IMAGENES*/
    main {
        width: 81%;
        height: 100vh;
        margin: auto;
        font-size: 1.4em;
        position: relative;
    }


    /*###################################################################*/

    main img {
        border: 5px solid black;
        float: left;
        display: block;
    }

    /*PARRAFOS*/
    main h2 {
        margin-left: 5%;
        margin-top: 0;
        width: max-content;
        display: inline-block;
    }
    
    main p {
        margin-left: 5%;
        width: 50%;
        display: inline-block;
    }

    .precio {
        display: block;
        margin-left: 25%;
    }

    /*BOTÓN*/
    main button {
        position: absolute;
        bottom: 10%;
        right: 10%;
        padding: 1% 2%;
        font-weight: bold;
        border: 1px solid black;
    }

    #precioTotal {
        position: absolute;
        bottom: 2%;
        right: 8%;
    }
}