html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
}

body {
  width: 50em;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

header, footer {
  background-color: teal;
  height: 7em;
  padding: 2em;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

img {
  float: right;
  margin: 1.2em 2em;
}