/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/
/*########################################################################################################################################*/

/*PARA PANTALLAS DE UN ANCHO MÁXIMO DE 1920px*/
@media screen and (max-width: 1920px) {
    body {
        margin: 0;
    }

    header {
        width: 80%;
        height: 20vh;
        padding: 1%;
        background-color: black;
        margin: auto;
    }

    /*###################################################################*/
    /*LOGO*/
    header>a>img {
        float: left;
        width: 10%;
        height: 100%;
    }

    .logo {
        width: 20%;
        height: 20vh;

        float: left;
    }

    .logo h1 {
        color: white;
        margin: 0;
        width: 100%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: relative;
    }

    /*###################################################################*/
    /*BARRA DE BÚSQUEDA*/
    .barraBusqueda {
        width: 40%;
        height: 5.5vh;
        display: inline-block;
        margin-top: 2%;
        margin-left: 2%;
        background-color: white;
    }

    .barraBusqueda input {
        padding: 3%;
        width: 82%;
        border: none;
    }

    .barraBusqueda i {
        padding: 3%;
        display: inline-block;
    }

    /*###################################################################*/
    /*PESTAÑAS*/
    .pestañas {
        width: 8%;
        height: 5vh;
        display: inline-block;
        margin-left: 5%;
    }

    .cuenta {
        float: left;
        width: max-content;
        text-align: center;
        margin-top: 10%;
    }

    .cuenta a {
        text-decoration: none;
        color: white;
    }

    .cuenta a p {
        margin: 0;
    }

    .carrito {
        float: left;
        text-align: center;
        width: max-content;
        margin-top: 10%;
        margin-left: 20%;
    }

    .carrito a {
        text-decoration: none;
        color: white;
    }

    .carrito a p {
        margin: 0;
    }
   
   /*###################################################################*/
    /*MENÚ*/
    .menu {
        width: 47%;
        height: 5vh;
        display: inline-block;
        border-top: 3px solid white;
        margin-top: 4%;
        margin-left: 2%;
    }

    .menu button {
        display: none;
    }

    .enlaces {
        list-style-type: none;
        padding: 0;
     }

    .enlaces a {
        color: white;
        text-decoration: none;
        margin-right: 4%;
        float: left;
    }
    
    .menu p {
        display: none;
    }
    

    /*########################################################################################################################################*/
    /*########################################################################################################################################*/
    /*########################################################################################################################################*/
    
    /*IMAGENES*/
    main {
        width: 81%;
        height: 100vh;
        margin: auto;
        background-color: blue;
    }
}