h2::first-letter {
    font-size: 150%;
}

h2 + p {
    text-indent: 2em;
}

a::before {
    content: "→";
    margin-right: 5px;
}

abbr::after {
    content: " (" attr(title) ")";
    font-style: italic;
}