.color-header-footer {
    background-color: black;
    padding: 10px;
}

.color-aside-nav {
    background-color: #dbdee5;
    padding: 10px;
}

.color-main {
    background-color: #b5bac0;
    padding: 10px;
}